<div class = "inbox">

		<div class = "inbox-leftCol">
			<div class = "inbox-leftCol-top">
				<div class ="privatebox"> Private
				</div>
				<div class ="openbox"> Open
				</div>
			</div>

			<div class ="inbox-leftCol-bottom">


				<div class ="messagebox">
				</div>
				<div class ="messagebox">
				</div>
				<div class ="messagebox">
				</div>
				<div class ="messagebox">
				</div>
				<div class ="messagebox">
				</div>
				<div class ="messagebox">
				</div>
				<div class ="messagebox">
				</div>
				<div class ="messagebox">
				</div>
				<div class ="messagebox">
				</div>
				<div class ="messagebox">
				</div>
				<div class ="messagebox">
				</div>
				<div class ="messagebox">
				</div>

			</div>


		</div>


		<div class = "inbox-rightCol">
			<div class = "inbox-rightCol-top">
				<div class ="newmessage"> New Message
				</div>
			</div>
			<div class = "inbox-rightCol-middle">
			</div>


			<div class = "inbox-rightCol-bottom">
				<div class = "send-message">
				</div>

			</div>

		</div>







</div>







