	<div class = "trending">

		<div href = "/profile" class = "featurebox">
		</div>

		<!--Song Row 1-->

		<div class = "songbox">
		</div>

		<div class = "songbox">
		</div>


		<div class = "songbox">
		</div>


		<div class = "songboxb">
		</div>

		<!--Song Row 2-->


		<div class = "songbox">
		</div>

		<div class = "songbox">
		</div>


		<div class = "songbox">
		</div>


		<div class = "songboxb">
		</div>


		<!--Song Row 3-->


		<div class = "songbox">
		</div>

		<div class = "songbox">
		</div>


		<div class = "songbox">
		</div>


		<div class = "songboxb">
		</div>

	</div>


