<div class = "audioplayer-bottom">
	<div class = "audioplayer-image">
	</div>
	<div class = "audioplayer-info">
		<h4> Artist Name </h4> <br> Song Name 
	</div>

	<div class = "audioplayer-play">
		<span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
		<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
		<span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
	</div>


	<div class = "audioplayer-length">
		2:32 / 4:30
	</div>

	<div class = "audioplayer-repeat">
		<span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
		<span class="glyphicon glyphicon-random" aria-hidden="true"></span>
	</div>

	<div class = "audioplayer-volume">
		<span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
	</div>

  </div>





</div>