<header class="navbar navbar-fixed-top navbar-inverse">

    <div class = "logobox">
    <%= link_to "", '#', id: "logo" %>
   	</div>

   	<div class = "logobox2">
    <%= link_to "", '#', id: "logo" %>
   	</div>
			<div class ="header-login-username">
			</div>
			<div class ="header-login-password">
			</div>
			
		<%= link_to home_path do %>
			<div class ="loginbox"> Log In
			</div>
		<% end %>

  
</header>
