<div class = "song">

	<div class ="song-name">
		<div class ="song-name-image">
		</div>
		Song Name
		<div class ="song-name-price">
		$24.95 - $149.95
		</div>

	</div>
	
	<div class ="song-add">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	</div>
</div>